{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ request.user|title }} Edit Task</title>
    <link href="{% static 'css/addtask.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <div class="title">Edit Task</div>
    </div>
    <div class="container">
        <form method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="subbtn">
                <div class="save">Save Changes</div>
            </button>
        </form>
    </div>
</body>
</html>