{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ request.user|title }} Tasks</title>
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
    <div class="title">Hello {{ request.user|title }} 😊</div>
    <div class="count">You have <i>{{ count }}</i> incomplete task{{ count|pluralize:"s" }}</div>
    <form action="logout" method="post">
        {% csrf_token %}
        <button class="lgoutbtn" type="submit">
            <div class="logout">LOGOUT</div>
        </button>
    </form>
</div>
<div class="container">
    <div class="title2">My To Do Tasks 📝</div>
    <form action="add" method="post">
        {% csrf_token %}
        <button class="addbtn" type="submit">
            <div class="addtask">➕ Add Task</div>
        </button>
    </form>
    <ul class="list-group">
        {% for task in tasks %}
        &nbsp;
            <li class="list-group-item {% if task.completed %}list-group-item-success{% endif %}">
                <div class="items">
                    <div class="tasktitle">{{ task.title }}</div>
                    <a href="{% url 'edit_task' task.pk %}" class="btn btn-warning btn-sm float-right">✏️</a>
                    <a href="{% url 'delete_task' task.pk %}" class="btn btn-danger btn-sm float-right mr-2">❌</a>
                </div>
                {% if not task.completed %}

                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>