{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="logtxt">LOGIN</div>
    <form action="login" method="post">
        {% csrf_token %}
        <div class="warn">{{ data }}</div>
        <table class="table">
            <tr>
                <td>User Name</td>
                <td>: &nbsp<input type="text" name="txtuser" class="txtbox"></td>
            </tr>
            <tr>
                <td>&nbsp</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>: &nbsp<input type="password" name="txtpass" class="txtbox"></td>
            </tr>
        </table>
        <button class="button">
            <div class="logbtn">LOGIN</div>
        </button>
    </form>
    <div class="sgup">Don't have an account? <a href="{% url 'reg' %}">Signup</a> </div>
</div>
</body>
</html>