{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="sgntxt">SIGN UP</div>
    <form action="regdata" method="post">
        {% csrf_token %}
        <div class="warn">{{ data }}</div>
        <table class="table">
            <tr>
                <td>User Name</td>
                <td>: &nbsp<input type="text" name="user" class="txtbox"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>: &nbsp<input type="email" name="mail" class="txtbox"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Create Password</td>
                <td>: &nbsp<input type="password" name="epass" class="txtbox"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td>: &nbsp<input type="password" name="cpass" class="txtbox"></td>
            </tr>
            </table>
        <button class="button">
            <div class="logbtn">SIGNUP</div>
        </button>
    </form>
    <div class="sgup">Already have an account? <a href="{% url 'log' %}">Login</a> </div>
</div>
</body>
</html>